/* Custom CSS for Slick Dots */
.slick-dots li button::before {
  color: white; /* Change the color of the dots */
  font-size: 12px; /* Adjust the size of the dots */
}

.slick-dots li.slick-active button::before {
  color: white; /* Change the color of the active dot */
}

.text {
  display: inline-block;
  white-space: nowrap;
}
