.feedback-area {
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  &.bg-color {
    background-color: #fff;
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 60%;
      right: 0;
      z-index: -1;
      margin-left: 50px;
      margin-right: 50px;
      border-radius: 10px 10px 0 0;
    }
    &::before {
      background: linear-gradient(105deg, #9c27b0, #17a5d6 80%);
    }
    .ptb-100 {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .section-title .sub-title,
    .section-title h2 {
      color: #fff;
    }
  }
  &.ptb-100 {
    padding-top: 100px;
  }

  .feedback-slides {
    padding-left: 80px;
    padding-right: 80px;
    .single-feedback-item {
      margin: 30px 15px;
      position: relative;
      z-index: 1;
      background-color: #fff;
      box-shadow: 0 0 15px #f1f1f1;
      padding: 30px;
      margin-bottom: 30px;
      min-height: 300px;
      .client-info {
        margin-top: 30px;
        position: relative;
        padding-left: 90px;
        h3 {
          margin-bottom: 0;
          font-size: 20px;
        }
        img {
          width: 70px !important;
          height: 70px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        span {
          display: block;
          color: rgb(33, 170, 175);
          margin-top: 3px;
          font-size: 15px;
        }
      }
      p.feedback-para {
        margin-top: 0;
        height: 200px;
        overflow-y: auto;
        color: #565968;
        margin-bottom: 0;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
      }
    }
  }

  .section-title {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    .sub-title {
      color: rgb(34, 147, 182);
      display: block;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-size: 15px;
      font-weight: 600;
    }
    h2 {
      max-width: 560px;
      text-transform: capitalize;
      font-weight: 800;
      font-size: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  .h2,
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title h2 {
      font-size: 35px;
    }
  }

  @media only screen and (max-width: 767px) {
    .single-feedback-item p {
      font-size: 15px;
    }
    .section-title h2 {
      font-size: 25px;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .feedback-area.bg-color:before {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
