.LogoAnimation {
  width: 350px;
  .screen {
    strokeopacity: 0;
    strokewidth: 5px;
    opacity: 0;
    transform: scale(2.25, 1.33) rotate(0);
    transition: 0.5s ease-in-out;
  }

  .logoInner {
    transform: scale(0.35) translate(-330px, -330px);
    transition: 0.85s ease-in-out 50ms;
  }
  &.mobile,
  &.mobile2 {
    .logoInner {
      transform: scale(0.25) translate(-330px, -330px);
    }
  }
  &.desktop .logoInner {
    transform: scale(0.25) translate(-330px, -330px);
  }
  &.laptop .logoInner {
    transform: scale(0.2) translate(-330px, -330px);
  }
  &.full .screen {
    strokeopacity: 0;
    opacity: 0;
    transform: scale(2.25, 1.33) rotate(0);
    transition: none;
  }
  &.mobile .screen {
    strokeopacity: 1;
    strokewidth: 5px;
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  &.desktop .screen {
    strokeopacity: 1;
    strokewidth: 8px;
    opacity: 1;
    transform: scale(1.125, 1.1) rotate(-90deg);
  }
  &.laptop .screen {
    strokeopacity: 1;
    strokewidth: 5px;
    opacity: 1;
    transform: scale(0.83) rotate(-90deg);
  }
  &.mobile2 .screen {
    strokeopacity: 1;
    strokewidth: 5px;
    opacity: 1;
    transform: scale(1) rotate(-180deg);
  }
  &.full2 .screen {
    strokeopacity: 0;
    transform: scale(2.25, 1.33) rotate(-180deg);
  }
  &:not(.mobile):not(.mobile2) .speaker {
    opacity: 0;
    transform: scaleX(0);
  }
  &:not(.desktop) .stand,
  &:not(.laptop) .base {
    transform: scaleX(0);
  }
  .stand,
  polygon.base {
    fill: var(--black);
  }
  .speaker,
  polygon.base {
    stroke: var(--black);
  }
  .base,
  .speaker,
  .stand {
    transition: 0.85s ease-in-out;
  }
}

svg.technologies-cloud {
  .cls-1 {
    fill: #8b4283;
  }
  .cls-2 {
    fill: var(--black);
  }
  .cls-3 {
    fill: var(--red);
  }
  .cls-4 {
    fill: #8e724f;
  }
  .cls-5 {
    fill: var(--red);
  }
  .cls-6,
  .cls-66 {
    fill: #fff;
  }
  .cls-7 {
    fill: #a5a284;
  }
  .cls-8 {
    fill: #499d49;
  }
  .cls-9 {
    fill: #58aa50;
  }
  .cls-10 {
    fill: #de4c36;
  }
  .cls-11 {
    fill: #b4b4b4;
  }
  .cls-12 {
    fill: #a51e22;
  }
  .cls-13 {
    fill: #dc2226;
  }
  .cls-14 {
    fill: #f3f3f3;
  }
  .cls-15 {
    fill: #f05247;
  }
  .cls-16 {
    fill: #fbaa19;
  }
  .cls-17 {
    fill: #e78825;
  }
  .cls-18 {
    fill: #fdc16a;
  }
  .cls-19 {
    fill: #c9c9c9;
  }
  .cls-20 {
    fill: #463117;
  }
  .cls-21 {
    fill: #205182;
  }
  .cls-22 {
    fill: #43b883;
  }
  .cls-23 {
    fill: #364a5e;
  }
  .cls-24 {
    fill: #f36e2c;
  }
  .cls-25 {
    fill: #e2452a;
  }
  .cls-26 {
    fill: #faa327;
  }
  .cls-27 {
    fill: #ef372d;
  }
  .cls-28 {
    fill: var(--red);
  }
  .cls-29 {
    fill: var(--black);
  }
  .cls-30 {
    fill: #f6a81c;
  }
  .cls-31 {
    fill: #cf659b;
  }
  .cls-32 {
    fill: #5d87a1;
  }
  .cls-33 {
    fill: #f89921;
  }
  .cls-34 {
    fill: #db4749;
  }
  .cls-35 {
    fill: var(--black);
  }
  .cls-36 {
    fill: #2ca4dd;
  }
  .cls-37 {
    fill: #f3bd19;
  }
  .cls-38 {
    fill: #40beb1;
  }
  .cls-39 {
    fill: #e9478c;
  }
  .cls-40 {
    fill: #2c468f;
  }
  .cls-41 {
    fill: #95c63f;
  }
  .cls-42 {
    fill: #1a6756;
  }
  .cls-43 {
    fill: #f9dc3f;
  }
  .cls-44 {
    fill: #55382a;
  }
  .cls-45 {
    fill: #2caae1;
  }
  .cls-46 {
    fill: #30af4a;
  }
  .cls-47 {
    fill: #ffcd31;
  }
  .cls-48 {
    fill: #cfcfce;
  }
  .cls-49 {
    fill: #f05834;
  }
  .cls-50 {
    fill: #7e6b4d;
  }
  .cls-51 {
    fill: #654e32;
  }
  .cls-52,
  .cls-75 {
    fill: none;
  }
  .cls-53 {
    fill: #1a1a1a;
  }
  .cls-54 {
    fill: #262525;
  }
  .cls-55 {
    fill: #6b6c6c;
  }
  .cls-56 {
    fill: #a4a4a5;
  }
  .cls-57 {
    fill: #7d7c7c;
  }
  .cls-58 {
    fill: #8f8f8f;
  }
  .cls-59 {
    fill: #8a6737;
    stroke: #8a6737;
  }
  .cls-59,
  .cls-65,
  .cls-66 {
    strokemiterlimit: 10;
  }
  .cls-59,
  .cls-65 {
    strokewidth: 4px;
  }
  .cls-60 {
    fill: #f8f8f8;
  }
  .cls-61 {
    fill: #868686;
  }
  .cls-62 {
    fill: #a3a3a2;
  }
  .cls-63 {
    fill: #ffedd5;
  }
  .cls-64 {
    fill: #dfc494;
  }
  .cls-65 {
    fill: #895730;
    stroke: #895730;
  }
  .cls-66 {
    stroke: #fff;
  }
  .cls-67 {
    fill: #f4e4cc;
  }
  .cls-68 {
    fill: #f1d7b8;
  }
  .cls-69 {
    fill: #345162;
  }
  .cls-70 {
    fill: #6e6c6e;
  }
  .cls-71 {
    fill: #dcd9d8;
  }
  .cls-72 {
    fill: #f7e4ce;
  }
  .cls-73 {
    fill: #49738c;
  }
  .cls-74 {
    fill: #d33a33;
  }
  .cls-75 {
    stroke: #d33a33;
    strokewidth: 2px;
  }
  .cls-76 {
    fill: #ef3f3b;
  }
  .cls-77 {
    fill: #231f20;
  }
  .cls-78 {
    fill: #82b1c4;
  }
  .cls-79 {
    fill: #1d1919;
  }
  .cls-80 {
    fill: #87c540;
  }
  .cls-81 {
    fill: var(--black);
  }
  .cls-82 {
    fill: #cc3937;
  }
  .cls-83 {
    fill: var(--black);
  }
  .cls-84 {
    fill: #72cada;
  }
  .cls-85 {
    fill: #df1766;
  }
  .cls-86 {
    fill: #e8a825;
  }
  .cls-87 {
    fill: #3fb890;
  }
  .cls-88 {
    fill: #cd2028;
  }
  .cls-89 {
    fill: #361538;
  }
  .cls-90 {
    fill: #66873a;
  }
  .cls-91 {
    fill: #1d947d;
  }

  .cls-python {
    fill: #2ca4dd;
    transform: scale(0.25) translate(-130px, 280px);
  }
  .cls-pythonA {
    fill: #2ca4dd;
    transform: scale(0.25) translate(-130px, 280px);
  }
  .cls-flask {
    fill: var(--black);
    transform: scale(0.75) translate(190px, 160px);
  }

  .cls-flaskA {
    fill: var(--black);
    transform: scale(0.75) translate(190px, 160px);
  }
  .cls-gcp {
    transform: scale(0.3) translate(370px, -70px);
  }
  .cls-amazonA {
    transform: translate(-200px, 0px);
  }
  .cls-amazon {
    transform: translate(95px, 0px);
  }
  .cls-postgres {
    fill: var(--black);
    transform: scale(0.17) translate(345px, 1030px);
  }
  .cls-postgresA {
    fill: var(--black);
    transform: translate(0px, 2px);
  }
  .cls-anaconda {
    transform: scale(0.09) translate(950px, 645px);
    fill: #1fb141;
  }
  .cls-nodeJs {
    transform: translate(-219px, -61px);
  }
  .cls-nodeJsA {
    transform: translate(-220px, -64px);
  }
  .cls-npm {
    transform: translate(45px, 0px);
  }
  .cls-npmA {
    transform: translate(-404px, -14px);
  }
  .cls-gulp {
    transform: translate(365px, -65px);
  }
  .cls-gulpA {
    transform: translate(-129px, -143px);
  }
  .cls-laravel {
    transform: scale(1.3) translate(-130px, 10px);
  }
  .cls-bitBucket {
    transform: scale(1.2) translate(0px, -40px);
  }
  .cls-bitBucketA {
    transform: translate(-9px, -187px);
  }
  .cls-angular {
    transform: scale(1) translate(-120px, -210px);
  }
  .cls-angularA {
    transform: translate(-454px, -265px);
  }
  .cls-git {
    transform: scale(1.3) translate(85px, -50px);
  }
  .cls-gitA {
    transform: translate(3px, -244px);
  }
  .cls-gitLab {
    transform: scale(1.2) translate(-30px, 105px);
  }
  .cls-gitLabA {
    transform: translate(-328px, -58px);
  }
  .cls-jasmine {
    transform: translate(-55px, 0px);
  }
  .cls-jasmineA {
    transform: translate(-54px, -260px);
  }
  .cls-typeScript {
    transform: scale(1.3) translate(-20px, -70px);
  }
  .cls-typeScriptA {
    transform: translate(-180px, -273px);
  }
  .cls-babel {
    transform: scale(1.3) translate(245px, -10px);
  }
  .cls-babelA {
    transform: translate(-85px, -207px);
  }
  .cls-vue {
    transform: translate(-265px, -195px);
  }
  .cls-vueA {
    transform: translate(-507px, -250px);
  }
  .cls-slack {
    transform: translate(-90px, -5px);
  }
  .cls-slackA {
    transform: translate(-298px, -127px);
  }
  .cls-sentry {
    transform: translate(20px, -20px);
  }
  .cls-sentryA {
    transform: translate(-391px, -74px);
  }
  .cls-phpUnit {
    transform: translate(50px, -50px);
  }
  .cls-phpUnitA {
    transform: translate(-315px, -158px);
  }
  .cls-bootStrap {
    transform: translate(25px, -125px);
  }
  .cls-jenkins {
    transform: translate(-145px, -25px);
  }
  .cls-jenkinsA {
    transform: translate(-423px, -192px);
  }
  .cls-sass {
    transform: translate(10px, 60px);
  }
  .cls-sassA {
    transform: translate(-438px, -123px);
  }
  .cls-sql {
    transform: translate(0px, -5px);
  }
  .cls-sqlA {
    transform: translate(-179px, -167px);
  }
  .cls-mongoDB {
    transform: translate(30px, 0px);
  }
  .cls-mongoDBA {
    transform: translate(-165px, -227px);
  }
  .cls-jest {
    transform: scale(0.5) translate(485px, 425px);
  }
}
