@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-repeat: no-repeat;

  /* Dark mode specific styles */
  /* Default light mode */
  background-color: rgb(var(--background-start-rgb)); /* default background */
}

body.dark {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  /* Dark mode gradient for the body */
}

.ck-editor__editable {
  min-height: 300px;
  color: black;
}

:root {
  animation: shimmer 2s infinite;
  --tg-primary-color: #8c10f2;
  --tg-secondary-color: #11101d;

  --tg-paragraph-color: #d4d7f3;
  --tg-body-font-size: 16px;
  --tg-body-font-weight: 400;
  --tg-heading-font-weight: 600;
  --tg-body-line-height: 1.62;
  --tg-heading-line-height: 1.2;
  --tg-indigo: #4920e0c4;
  --tg-purple: #8447d4;
  --tg-green: #101d96;
  --tg-teal: #602fe7a8;
  --tg-cyan: #3a47f7ce;
  --tg-black: #080914dc;
  --tg-white: #ffffff;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #7910f2d0;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(
    0deg,
    var(--tg-white) 50%,

    var(--tg-black) 50%
  );
}

.news-article {
  color: rgba(var(--color-typo-default), var(--tw-text-opacity));
  padding-bottom: 0.5rem;
}
.news-article h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.news-article h2,
h3,
h4,
h5,
h6 {
  font-size: 22px;
  line-height: 1.2;
  margin-top: 20px;
}

.news-article p {
  font-size: 16px;
  line-height: 1.6;
}

.news-article img {
  max-width: 100%;
  height: auto;
}

.news-article ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 10px 0;
}

.news-article ul li {
  font-size: 14px;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  background-color: #0002;
}

.dark .news-article ul li {
  background-color: #fff2;
}
